.create-note-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 2rem;    
}

.create-note-title {
    display: flex;
    flex-direction: row;
}

.create-note-body {
    display: flex;
    flex-direction: column;
    height: 15rem;
}

.create-note-body > textarea {
    flex: 1;
    resize: none;
}
